extends layout

block content
  h1= title 
   div(class="container-fluid")
        div(class="row")
            -
                let balls = [
                    {
                        "type": "basketball",
                        "shape": "round",
                        "quantity": "10"                        
                    },
                    {
                        "type": "ruggbyball",
                        "shape": "oval",
                        "quantity": "20"
                    },
                    {
                        "type": "pinball",
                        "shape": "speherical",
                        "quantity": "42"
                    },                   
                ]
            each ball in balls 
                div(class="col-sm-2") #{ball.type}
                div(class="col-sm-2") #{ball.shape}
                div(class="col-sm-2") #{ball.quantity}